

# Due to recursive variables, you may need to run `make setup_env` multiple times
NAME=awesome-boilerplate-project
ROOT_DOMAIN=project.xyz
ENV=dev
SUBDOMAIN_APP=app-dev-${NAME}
SUBDOMAIN_LAMBDAS=lambdas-${ENV}-${NAME}
SUBDOMAIN_HASURA=hasura-${ENV}-${NAME}


AWS_PROFILE=icm
AWS_REGION=us-west-2
APP_EMAIL_DOMAIN=${ROOT_DOMAIN}
BROWSER=none
HASURA_API_PORT=49695
HASURA_CONSOLE_PORT=49695
HASURA_EXPOSED_PORT=48080
HASURA_GRAPHQL_ADMIN_SECRET=sdf...
HASURA_TF_DB_PASSWORD=bo...
HASURA_TF_DB_USERNAME=hasura
LAMBDA_ENDPOINT=https://${SUBDOMAIN_LAMBDAS}.ngrok.io/graphql
LAMBDA_HASURA_EVENT_HANDLER=https://${SUBDOMAIN_LAMBDAS}.ngrok.io/hasura_event_handler
LAMBDA_LOCAL_PORT=14096
NGROK_AUTH_TOKEN=1234...
REACT_APP_PORT=43000
REACT_APP_AUTH0_CLIENT_ID=Xp8...
REACT_APP_AUTH0_DOMAIN=${NAME}-${ENV}.auth0.com
REACT_APP_BASE_URI=https://${SUBDOMAIN_APP}.ngrok.io
REACT_APP_DEBUG=true
REACT_APP_GOOGLE_API_KEY=AIzaSy...
REACT_APP_HASURA_ENDPOINT=https://${SUBDOMAIN_HASURA}.ngrok.io/v1/graphql
TF_STATE_S3_BUCKET=terraform-state-storage-s3.${ROOT_DOMAIN}

TF_AUTH0_API_CLIENT_ID=C0ez...
TF_AUTH0_DESCRIPTION="app description"
TF_AUTH0_API_CLIENT_SECRET=6iS-p...
